.popup-screen{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.popup-box{

    position: relative;
    background-color: aqua;
    width: 30vw;
    height: 75vh;
    border: 1px solid black;
    top:100;
    z-index: 11;
    margin:100px 0 0 460px ;
}