.item-class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(85, 84, 84);
    width: 95%;
    /* height: 40px; */
    margin: 5px 0px;
    padding: 10px;
}

.close-button{
    cursor: pointer;
}

.item-class::-webkit-scrollbar {
    display: none;
  }